.box-clock {
  background-color: black;
  width: 500px;
  height: 100px;
  padding: 10px;
  font-size: 6em;
  margin: 50px auto;
  text-align: center;
  line-height: 100px;
  color: white;
}

.box-clock:hover {
  box-shadow: 0px 0px 10px 1px black;
  transition-duration: 0.3s;
  font-size: 6.5em;
  background-color: green;
}
